<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MutiThreadRWDatabase.Properties.Settings.ptestConnectionString"
            connectionString="Data Source=192.168.174.128\SQLEXPRESS;Initial Catalog=ptest;Persist Security Info=True;User ID=sqlexp;Password=sqlexp"
            providerName="System.Data.SqlClient" />
        <add name="MutiThreadRWDatabase.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLOLEDB;Data Source=ZHUVMSTDSQL2012;Password=sqlexp;User ID=sqlexp;Initial Catalog=ptest"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>